@import url("./fonts.css");

/* ==========================
GLOBAL VARIABLES
========================== */

:root {
    /*----------
        Colors
    ----------*/

    /* Primary */
    --primary: #b12b2b;
    --primary-hover: #409284;

    /* Secondary */
    --secondary: #e4b8e4;
    --secondary-hover: #d4a7d4;

    /* Gray */
    --gray-90: #191919;
    --gray-80: #333333;
    --gray-70: #4d4d4d;
    --gray-60: #666666;
    --gray-50: #808080;
    --gray-40: #999999;
    --gray-30: #b3b3b3;
    --gray-20: #cccccc;
    --gray-10: #e6e6e6;
    
    /* Font colors */
    --font-color-default: var(--gray-60);
    --font-color-links: var(--gray-70);

    --font-color-header: #ffffff;
    --font-color-header-hover: var(--gray-10);
    --font-color-header-click: var(--gray-20);

    --font-color-footer: var(--gray-70);

    /* Constant colors */
    --html-background-color: #ffffff;



    /*----------
        Sizes
    ----------*/

    --doc-height: 100%;

    /* header height */
    --phone-header-height: 10vh;
    --tablet-header-height: 10vh;
    --desktop-header-height: 10vh;
    --widescreen-header-height: 10vh;

    --header-height: var(--phone-header-height);

    /* footer height */
    --phone-footer-height: 10vh;
    --tablet-footer-height: 10vh;
    --desktop-footer-height: 10vh;
    --widescreen-footer-height: 10vh;

    --footer-height: var(--phone-footer-height);

    /* Horizontal Padding */
    --phone-horizontal-padding: 5%;
    --tablet-horizontal-padding: 7%;
    --desktop-horizontal-padding: 10%;
    --widescreen-horizontal-padding: 16%;

    --horizontal-padding : var(--phone-horizontal-padding);

    /* Button font size */
    --phone-button-font-size: 18px;
    --tablet-button-font-size: 16px;
    --desktop-button-font-size: 15px;
    --widescreen-button-font-size: 14px;
    
    --button-font-size: var(--phone-button-font-size);
}

/* ==========================
MAIN CONTAINERS
========================== */

html,
body {
 padding: 0;
 margin: 0;
 height: 100vh; /* fallback for Js load */
 height: var(--doc-height);
}

/* header */
header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: orange;
}

/* Main container */
main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

/* footer */
footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: red;
}