@import url("./fonts.css");

/* ==========================
GLOBAL VARIABLES
========================== */

:root {
    /*----------
        Colors
    ----------*/

    /* Primary */
    --primary: #468076;
    --primary-hover: #409284;

    /* Secondary */
    --secondary: #e4b8e4;
    --secondary-hover: #d4a7d4;

    /* Gray */
    --gray-90: #191919;
    --gray-80: #333333;
    --gray-70: #4d4d4d;
    --gray-60: #666666;
    --gray-50: #808080;
    --gray-40: #999999;
    --gray-30: #b3b3b3;
    --gray-20: #cccccc;
    --gray-10: #e6e6e6;
    
    /* Font colors */
    --font-color-default: var(--gray-60);
    --font-color-links: var(--gray-70);

    --font-color-header: #ffffff;
    --font-color-header-hover: var(--gray-10);
    --font-color-header-click: var(--gray-20);

    --font-color-footer: var(--gray-70);

    /* Constant colors */
    --html-background-color: #ffffff;



    /*----------
        Sizes
    ----------*/

    /* header height */
    --phone-header-height: 10vh;
    --tablet-header-height: 10vh;
    --desktop-header-height: 10vh;
    --widescreen-header-height: 10vh;

    --header-height: var(--phone-header-height);

    /* footer height */
    --phone-footer-height: 10vh;
    --tablet-footer-height: 10vh;
    --desktop-footer-height: 10vh;
    --widescreen-footer-height: 10vh;

    --footer-height: var(--phone-footer-height);

    /* Horizontal Padding */
    --phone-horizontal-padding: 5%;
    --tablet-horizontal-padding: 7%;
    --desktop-horizontal-padding: 10%;
    --widescreen-horizontal-padding: 16%;

    --horizontal-padding : var(--phone-horizontal-padding);

    /* Button font size */
    --phone-button-font-size: 18px;
    --tablet-button-font-size: 16px;
    --desktop-button-font-size: 15px;
    --widescreen-button-font-size: 14px;
    
    --button-font-size: var(--phone-button-font-size);
}

/* ==========================
MAIN CONTAINERS
========================== */

html {
    height: -webkit-fill-available;
    background-color: var(--html-background-color);
}

body {
    margin: 0;
    min-height: -webkit-fill-available;
    font-family: Roboto-Regular;
    color: var(--font-color-default);
}

/* Main container */
main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    min-height: 33vh;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}

/* ==========================
TEXT
========================== */

.page p,
.page h1,
.page h2,
.page h3 {
    padding: 0 var(--horizontal-padding) !important;
}

.page div p,
.page div h1,
.page div h2,
.page div h3 {
    padding: 0 0 !important;
}


/* ==========================
CLICKABLES
========================== */

/* Anchors */
a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: var(--font-color-links);
}

    a:focus {
        -webkit-tap-highlight-color: transparent;
    }

/* Buttons */
button {
    font-family: Roboto-Medium;
    border: none;
    background-color: var(--gray-10);
    padding: 8px 14px;
    border-radius: 5px;
    margin: 5px 5px;
    font-size: var(--button-font-size);
    flex-wrap: wrap;
    color: var(--gray-80);
}

    button:hover {
        cursor: pointer;
        background-color: var(--gray-20);
    }

.primary-button {
    background-color: var(--primary);
    color: #ffffff;
}

    .primary-button:hover {
        background-color: var(--primary-hover);
    }

/* ==========================
MEDIA QUERIES
========================== */

/* Tablets ----------- */
@media only screen and (min-width : 480px) {
    :root {
        --header-height: var(--tablet-header-height);
        --footer-height: var(--tablet-footer-height);
        --horizontal-padding : var(--tablet-horizontal-padding);
        --button-font-size: var(--tablet-button-font-size);
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    :root {
        --header-height: var(--desktop-header-height);
        --footer-height: var(--desktop-footer-height);
        --horizontal-padding : var(--desktop-horizontal-padding);
        --button-font-size: var(--desktop-button-font-size);
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    :root {
        --header-height: var(--widescreen-header-height);
        --footer-height: var(--widescreen-footer-height);
        --horizontal-padding : var(--widescreen-horizontal-padding);
        --button-font-size: var(--widescreen-button-font-size);
    }
}