@import url("../../../../css/variables.css");

/* Put here any 'burgerMenu' specific css */

.header-burger-menu-button {
    padding: 0;
    background-color: #ffffff00;
    color: var(--on-primary);
    font-size: 32px;
    border: none;;
}
.header-burger-menu-button:hover {
    background-color: #ffffff00;
}

.burger-menu-background {
    box-sizing: border-box;
    position: fixed;
    display: none;
    top: var(--header-height);
    right: 0;
    height: calc(100% - calc(var(--header-height) + var(--footer-height)));
    width: 100%;
    background-color: black;
    opacity: 0%;
    transition: opacity .2s linear;
}

.burger-menu {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: var(--header-height);
    right: -60%;
    height: calc(100% - calc(var(--header-height) + var(--footer-height)));
    width: 60%;
    background-color: var(--html-background-color);
    transition: right .2s ease-in-out;
}

.burger-menu-links {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.burger-menu-link {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 5% 10% 5% 10%;
    color: var(--font-color-default);
    border-bottom: 1px solid var(--font-color-default);    
    font-size: 16px;
}
.burger-menu-link:hover {
    text-decoration: none;
    background-color: var(--gray-20);
}
.burger-menu-link:focus {
    background-color: var(--gray-20);
}

.burger-menu-about {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 5% 10% 5% 10%;
    box-shadow: #00000011 0 -15px 20px;
    background-color: var(--primary);
    color: var(--on-primary);
    font-size: 12px;
}

.burger-menu-about > span:first-child {
    font-size: 18px;
}

/* ==========================
MEDIA QUERIES
========================== */

/* Tablets ----------- */
@media (min-width : 767px) and (max-width : 1279px) {
    .header-burger-menu-button {
        font-size: 48px;
    }
    .burger-menu {
        right: -40%;
        width: 40%;
    }
    .burger-menu-link { 
        font-size: 24px;
    }
}

/* Laptops ----------- */
@media (min-width: 1280px) and (max-width: 1919px) {
    
}

/* Desktops ----------- */
@media (min-width: 1920px) {
    
}